@media all and (min-width : 1100px) {
    .renseignement{
        margin: 3% 0 3% 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    
        .renseignement_localisation{
            display: flex;
            flex-direction: column;
            color: #FF6060;
    
            >h2 {
                margin: -3% 0 -2% 0;
                font-weight: 500;
                font-size: 32px;
            }
    
            >h3{
                margin: 2% 0 0 0;
                font-size: 20px;
                font-weight: 500;
            }
    
            >ul{
                display: flex;
                padding: 0;
                color: white;
    
    
                >li {
                    width: auto;
                    padding: 0 5% 0 5%;
                    list-style: none;
                    margin-right: 5%;
                    border-radius: 10px;
                    background-color: #FF6060;
                }
            }
        }
    
        .renseignement_hebergement{
            display: flex;
            flex-direction: column-reverse;
            height: 120px;

            >.host{
                display: flex;
                align-items: center;
                justify-content: end;
                height: 100px;
    
                >.host_name{
                    font-size: 18px;
                    width: 30%;
                    margin: 0;
                    color: #FF6060;
                    font-weight: 500;
                }
    
                >.host_picture{
                    border-radius: 100px;
                    height: 80%;
                    margin-left: 12%;
                }
            }
    
            >.rating{
                display: flex;
                justify-content: center;
                font-size: 22px;

                >.rate{
                    color: #FF6060;
                }

                >.no_rate{
                    color: rgb(227, 227, 227);
                }
            }
        }
    }
}

@media all and (min-width : 641px) and (max-width : 1100px){
    .renseignement{
        margin: 4% 0 4% 0;

        .renseignement_localisation{
            display: flex;
            flex-direction: column;
            color: #FF6060;

            >h2 {
                margin: -3% 0 -2% 0;
                font-weight: 500;
                font-size: 30px;
            }

            >h3{
                margin: 2% 0 0 0;
                font-size: 18px;
                font-weight: 500;
            }

            >ul{
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                color: white;
                width: 100%;
                height: 50px;
                margin: 0;

                >li {
                    height: 25px;
                    font-size: 16px;
                    font-weight: 500;
                    list-style: none;
                    margin: 1% 5% 0 0;
                    padding: 0 6% 0 6%;
                    background: #FF6060;
                    border-radius: 5px;
                }
            }
        }

        .renseignement_hebergement{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;

            >.host{
                display: flex;
                justify-content: end;
                align-items: center;

                >.host_name{
                    font-size: 16px;
                    font-weight: 500;
                    width: 30%;
                    margin: 0 7% 0 0;
                    color: #FF6060;
                }

                >.host_picture{
                    border-radius: 100px;
                    height: 70px;
                    margin-left: 10%;
                }
            }

            >.rating{
               display: flex;
               color: #FF6060;
               font-size: 20px;
            }
        }
    }
}

@media all and (max-width : 640px) {
    .renseignement{
        margin: 5% 0 5% 0;

        .renseignement_localisation{
            display: flex;
            flex-direction: column;
            color: #FF6060;

            >h2 {
                margin: -3% 0 -2% 0;
                font-weight: 500;
                font-size: 26px;
            }

            >h3{
                margin: 2% 0 2% 0;
                font-size: 16px;
                font-weight: 500;
            }

            >ul{
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                color: white;
                width: 100%;
                height: 50px;
                margin: 0;

                >li {
                    height: 20px;
                    font-size: 14px;
                    font-weight: 500;
                    list-style: none;
                    margin: 0 5% 0 0;
                    padding: 0 6% 0 6%;
                    background: #FF6060;
                    border-radius: 5px;
                }
            }
        }

        .renseignement_hebergement{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;


            >.host{
                display: flex;
                align-items: center;
                justify-content: end;

                >.host_name{
                    font-size: 16px;
                    width: 30%;
                    margin: 0;
                    color: #FF6060;
                    font-weight: 500;
                }

                >.host_picture{
                    border-radius: 100px;
                    height: 50px;
                    margin-left: 15%;
                }
            }

            >.rating{
                display: flex;
                color: #FF6060;
             }
        }
    }
}